@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600);
@-moz-keyframes dot_flicker {
  50% {
    background-color: #6bc549;
  }
}
@-webkit-keyframes dot_flicker {
  50% {
    background-color: #6bc549;
  }
}
@-ms-keyframes dot_flicker {
  50% {
    background-color: #6bc549;
  }
}
@-o-keyframes dot_flicker {
  50% {
    background-color: #6bc549;
  }
}
@keyframes dot_flicker {
  50% {
    background-color: #6bc549;
  }
}
#mobileMinimizedTPL {
  position: fixed;
  height: 5px;
  width: 100%;
  left: 0px;
  bottom: 0px;
}
#mobileMinimizedTPL .chat-logo-mobile-container {
  position: fixed;
  bottom: 0px;
  height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 6px;
  left: 9px;
  background-color: inherit;
}
#mobileMinimizedTPL .chat-logo-mobile-container .chat-logo-mobile {
  width: 25px;
  height: 25px;
  position: relative;
  bottom: -3px;
}
.dark-scheme {
  background-color: rgba(54, 59, 62, 0.9);
  border: 1px solid rgba(54, 59, 62, 0.9);
}
.dark-scheme .header {
  background-color: #363b3e;
}
.blue-scheme {
  background-color: rgba(41, 144, 234, 0.9);
  border: 1px solid rgba(41, 144, 234, 0.9);
}
.blue-scheme .header {
  background-color: #2990ea;
}
.red-scheme {
  background-color: rgba(221, 103, 78, 0.9);
  border: 1px solid rgba(221, 103, 78, 0.9);
}
.red-scheme .header {
  background-color: #dd674e;
}
.teal-scheme {
  background-color: rgba(0, 172, 173, 0.9);
  border: 1px solid rgba(0, 172, 173, 0.9);
}
.teal-scheme .header {
  background-color: #00acad;
}
.support-chat-outer {
  font-family: Open Sans;
  font-weight: 400;
  position: fixed;
  bottom: 0px;
  right: 20px;
  width: 350px;
  height: 300px;
  transition: height 1s, width 1s;
  border-radius: 3px 3px 0px 0px;
  border-bottom: none;
  overflow: hidden;
  text-align: left;
  line-height: normal;
  font-size: initial;
  color: #606060;
  z-index: 20;
}
.support-chat-outer .header {
  padding-top: 10px;
  padding-bottom: 11px;
  color: #f8f8f8;
  text-align: center;
}
.support-chat-outer .header .icon {
  position: absolute;
  top: 3px;
  width: 25px;
  height: 38px;
  text-align: center;
  cursor: pointer;
}
.support-chat-outer .header .icon.minimize-chat {
  right: 30px;
  font-size: 30px;
  line-height: 30px;
}
.support-chat-outer .header .icon.minimize-chat::before {
  content: "-";
}
.support-chat-outer .header .icon.end-chat {
  right: 5px;
  top: 7px;
  font-size: 18px;
}
.support-chat-outer .header .icon.end-chat::before {
  content: "×";
}
.support-chat-outer .header .mobile-minimize-x {
  display: none;
}
.support-chat-outer .chat-contacting {
  display: none;
}
.support-chat-outer .email-entry-input textarea.message {
  line-height: 60px;
}
.support-chat-outer .footer,
.support-chat-outer .email-entry-input {
  display: block;
  position: absolute;
  bottom: -80px;
  width: 350px;
  height: 80px;
  background-color: #ffffff;
  border-top: 1px solid #e5e5e5;
  transition: bottom 1s;
}
.support-chat-outer .footer textarea,
.support-chat-outer .email-entry-input textarea {
  padding-top: 10px;
}
.support-chat-outer .footer textarea.message,
.support-chat-outer .email-entry-input textarea.message {
  border: 0px;
  width: 215px;
  height: 75px;
  padding-left: 20px;
  font-size: 16px;
  font-family: Open Sans;
}
.support-chat-outer .footer textarea.message:focus,
.support-chat-outer .email-entry-input textarea.message:focus {
  outline: 0;
}
.support-chat-outer .footer .send-message,
.support-chat-outer .email-entry-input .send-message,
.support-chat-outer .footer .enter-email,
.support-chat-outer .email-entry-input .enter-email {
  width: 80px;
  height: 40px;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: Open Sans;
  color: #2990ea;
  background-color: white;
  border: 1px solid rgba(88, 96, 102, 0.5);
  border-radius: 2px;
  font-weight: bold;
  letter-spacing: 0.1px;
}
.support-chat-outer.minimized {
  bottom: 0px;
  right: 20px;
  width: 230px;
  height: 40px;
  cursor: pointer;
}
.support-chat-outer.minimized .support-inner {
  display: none;
}
.support-chat-outer.minimized .header .icon {
  display: none;
}
.support-chat-outer .chat-body {
  position: absolute;
  width: 100%;
  top: 41px;
  height: calc(100% - 120px);
  overflow-y: scroll;
  background-color: #f8f8f8;
}
.support-chat-outer .chat-body .system-message {
  padding: 0px 20px 10px 20px;
  color: #9ba0a3;
}
.support-chat-outer .chat-body .error-message {
  padding: 0px 20px 10px 20px;
  color: #ff0033;
}
.support-chat-outer .chat-body div:first-child {
  padding-top: 20px;
}
.support-chat-outer .chat-body .chat-message {
  padding: 0px 20px 10px 20px;
}
.support-chat-outer .chat-body .chat-message .message-sender {
  font-weight: 600;
  float: left;
  padding-right: 8px;
}
.support-chat-outer .chat-body .chat-message .user-sent {
  color: #2990ea;
}
.support-chat-outer .chat-body .chat-message .message-content {
  width: 250px;
  color: #3B3131;
}
.support-chat-outer.connected .footer {
  bottom: 0px;
}
.support-chat-outer.email-entry .email-entry-input {
  bottom: 0px;
}
.support-chat-outer.contacting .chat-body {
  height: 100%;
  z-index: -10;
  transition: height 1s;
}
.support-chat-outer.contacting .chat-contacting {
  display: block;
  width: 100%;
  height: 260px;
  text-align: center;
  float: left;
}
.support-chat-outer.contacting .chat-contacting .contacting-message {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}
.support-chat-outer.contacting .chat-contacting .loading-dots {
  position: relative;
  top: 60px;
  margin: 0 auto;
  width: 56px;
}
.support-chat-outer.contacting .chat-contacting .loading-dot {
  background-color: #FFFFFF;
  float: left;
  height: 8px;
  margin-left: 8px;
  width: 8px;
  -moz-animation-name: dot_flicker;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: normal;
  -moz-border-radius: 10px;
  -webkit-animation-name: dot_flicker;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-border-radius: 10px;
  -ms-animation-name: dot_flicker;
  -ms-animation-duration: 3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: normal;
  -ms-border-radius: 10px;
  -o-animation-name: dot_flicker;
  -o-animation-duration: 3s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: normal;
  -o-border-radius: 10px;
  animation-name: dot_flicker;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  border-radius: 4px;
}
.support-chat-outer.contacting .chat-contacting .loading-dot.dot-1 {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.support-chat-outer.contacting .chat-contacting .loading-dot.dot-2 {
  -moz-animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
  -ms-animation-delay: 1.4s;
  -o-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.support-chat-outer.contacting .chat-contacting .loading-dot.dot-3 {
  -moz-animation-delay: 1.8s;
  -webkit-animation-delay: 1.8s;
  -ms-animation-delay: 1.8s;
  -o-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.clearfix {
  overflow: auto;
  zoom: 1;
  clear: both;
}
/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 480px) {
  .support-chat-outer {
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
  }
  .support-chat-outer.minimized {
    right: 0px;
    width: 100%;
  }
  .support-chat-outer .footer,
  .support-chat-outer .email-entry-input {
    width: 100%;
  }
  .support-chat-outer .header .mobile-minimize-x {
    display: block;
    font-size: 33px;
    width: 75px;
    position: absolute;
    left: -4%;
    bottom: -9%;
  }
}
