.keys {

	width: 12.5%;
	height: 100%;
	background-color: white;
	border: solid;

}

.keys:hover {
	background-color: cyan;
	}

.blackKeys {
	width: 10%;
	height: 70%;
	background-color: black;
	border:solid;
	border-top: black;
	border-color: #E0E4CC;
}

#blackKey1{
	position:absolute;
	top:0px;
	left:7.5%;
}

#blackKey2{
	position:absolute;
	top:0px;
	left:20%;
}

#blackKey3{
	position:absolute;
	top:0px;
	left:45%;
}

#blackKey4{
	position:absolute;
	top:0px;
	left:57.5%;
}

#blackKey5{
	position:absolute;
	top:0px;
	left:70%;
}

#key1{
	position: absolute;
	top: 0px;
	left: 0px;
}


#key2{
	position: absolute;
	top:0px;
	left:12.5%;

}

#key3{
	position: absolute;
	top:0px;
	left:25%;

}

#key4{
	position: absolute;
	top:0px;
	left:37.5%;

}

#key5{
	position: absolute;
	top:0px;
	left:50%;

}

#key6{
	position: absolute;
	top:0px;
	left:62.5%;

}

#key7{
	position: absolute;
	top:0px;
	left:75%;

}

#key8{
	position: absolute;
	top:0px;
	left:87.5%;

}



/*-------Pop Up-------*/

#dialog-overlay {
 
    /* set it to fill the whil screen */
    width:100%; 
    height:100%;
     
    /* transparency for different browsers */
    filter:alpha(opacity=50); 
    -moz-opacity:0.5; 
    -khtml-opacity: 0.5; 
    opacity: 0.5; 
    background:#000; 
 
    /* make sure it appear behind the dialog box but above everything else */
    position:absolute; 
    top:0; left:0; 
    z-index:3000; 
 
    /* hide it by default */
    display:none;
}
 
 
#dialog-box {
     
    /* css3 drop shadow */
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
     
    /* css3 border radius */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     
    background:#eee;
    /* styling of the dialog box, i have a fixed dimension for this demo */
    width:228px; 
     
    /* make sure it has the highest z-index */
    position:absolute;
    z-index:5000; 
 
    /* hide it by default */
    display:none;
    
    opacity:0.9;
}
 
#dialog-box .dialog-content {
    /* style the content */
    text-align:center; 
    padding:10px; 
    margin:13px;
    color:#666; 
    font-family:arial;
    font-size:11px; 
}

#percentage {
	text-align:center; 
    padding:10px; 
    margin:13px;
    color:#666; 
    font-family:arial;
    font-size:14px; 
}
 
a.button {
    /* styles for button */
    margin:10px auto 0 auto;
    text-align:center;
    display: block;
    width:50px;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
     
    /* button color */
    background-color: #e33100;
     
    /* css3 implementation :) */
    /* rounded corner */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     
    /* drop shadow */
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
     
    /* text shaow */
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
     
}
 
a.button:hover {
    background-color: #c33100;  
}
 
a.intButton{
	/* styles for button */
    margin:10px auto 0 auto;
    text-align:center;
    display: block;
    width:50px;
    padding: 5px 10px 6px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
     
    /* button color */
    background-color: #000000;
     
    /* css3 implementation :) */
    /* rounded corner */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     
    /* drop shadow */
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
     
    /* text shaow */
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    
    position: relative;
    /*left:5%;*/
	
}
 
/* extra styling */
#dialog-box .dialog-content p {
    font-weight:700; margin:0;
}
 
#dialog-box .dialog-content ul {
    margin:10px 0 10px 20px; 
    padding:0; 
    height:50px;
}

#min2{
	background-color: #0DB2AC;
}

#M2{
	background-color: #EFFAB4;
}

#min3{
	background-color: #F5DD7E;
}

#M3{
	background-color: #FFC48C;
}

#P4{
	background-color: #FF9F80;
}

#T{
	background-color: #FC8D4D;
}

#P5{
	background-color: #F56991;
}

#min6{
	background-color: #FC694D;
}

#M6{
	background-color: #A7DBD8;
}

#min7{
	background-color: #FABA32;
}

#M7{
	background-color: #69D2E7;
}

#O{
	background-color: #D1F2A5;
}

/*#D1F2A5
#EFFAB4';
#FFC48C';
#FF9F80';
#F56991';
#A7DBD8';
#69D2E7';
#D1F2A5'

0DB2AC
#F5DD7E
FC8D4D
FC694D
FABA32*/